%h2 Recipes
= render "filter"

%table.content-table.full-size
  %thead
    %th
      Title 
    %th
      Cook time
    %th
      Preparation time
    %th
      Ratings
    %th
      Author
    %th
      Category
    %th
      Cuisine
  - @recipes.each do |recipe|
    %tr
      %td
        = link_to(recipe.title, recipe_path(recipe.id))
      %td
        = recipe.cook_time
      %td
        = recipe.prep_time
      %td
        = recipe.ratings
      %td
        = recipe.try(:author).try(:name)
      %td
        = recipe.try(:category).try(:name)
      %td
        = recipe.try(:cuisine).try(:name)

%br
= paginate @recipes
