%h2 Recipes
= render "filter"

%table.content-table.full-size
  %thead
    %th
      Title 
      = order_links_for('title')
    %th
      Cook time
      = order_links_for('cook_time')
    %th
      Preparation time
      = order_links_for('prep_time')
    %th
      Ratings
      = order_links_for('ratings')
    %th
      Author
      = order_links_for('authors', 'name')
    %th
      Category
      = order_links_for('categories', 'name')
    %th
      Cuisine
      = order_links_for('cuisines', 'name')
  - @recipes.each do |recipe|
    %tr
      %td
        = link_to(recipe.title, recipe_path(recipe.id))
      %td
        = recipe.cook_time
      %td
        = recipe.prep_time
      %td
        = recipe.ratings
      %td
        = recipe.try(:author).try(:name)
      %td
        = recipe.try(:category).try(:name)
      %td
        = recipe.try(:cuisine).try(:name)

%br
= paginate @recipes
